body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.centered-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
header, nav, footer {
    position: relative;
    z-index: 1;
}
